[Unit]
Description=Partyless nginx reverse proxy container
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/partyless-nginx:latest
ContainerName=partyless-nginx
Pod=partyless.pod
Environment=ENABLE_TLS=1

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
